
#splash-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 9999;
  background: #222;
  display: flex;
  align-items: center;
}

#loading-bar-container {
  width: 160px;
  height: 20px;
  border-radius: 4px;
  background: #777;
  margin: 20px auto;

}

#loading-bar {
  width: 0%;
  height: 100%;
  border-radius: 4px;
  background: #4caf86;
}
