
.debug-show-special-command {
  border: 1px solid rgba(0, 196, 81, 0.8);
  color: #777;
  background: #fff;
}

.dbgcom-human {
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

.dbgcom-org {
  font-family: monospace;
  font-style: italic;
  font-size: 10px;
}

.dbgcom-params {
  font-family: monospace;
  font-size: 10px;
}
