
html {
  font-size: 16px;
  font-family: sans-serif;
}

:root {
  --font-xs: 0.75rem;  /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-md: 1rem;     /* 16px */
  --font-lg: 1.25rem;  /* 20px */
  --font-xl: 1.5rem;   /* 24px */
}


h1 {
  font-size: var(--font-xl)
}

body, #app, p, a {
  font-size: var(--font-md)
}

button {
  font-size: var(--font-md)
}
