
.gwin-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.gwin-window {
  background: var(--light-bg);
  color: #000;
  padding: 16px;
  border-radius: 8px;
  width: 300px;
  max-height: 75vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  line-height: 18px;
  text-align: center;
}

.dark .gwin-window {
  background: var(--dark-bg);
}

.gwin-window-main {
  padding: 8px 0;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  margin-top: 18px;
  border: 0px solid blue;
}

.gwin-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
}

.gwin-button {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background: #007bff;
  color: white;
  font-size: 0.875rem;
}

.gwin-button:hover {
  background: #0056b3;
}

.gwin-close {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  background: none;
  border: none;
  color: #333;
}

.dark .gwin-close {
  color: #fff;
}

.gwin-close:hover {
  filter: invert(0.5);
}

.gwin-close.left {
  left: 8px;
}

.gwin-close.right {
  right: 8px;
}

/* ############################################# */
/* ############################################# */
/* ############################################# */
/* animation: */
/* ############################################# */
/* ############################################# */
/* ############################################# */

.gwin-popup {
  animation: popIn 0.3s ease forwards;
}

.gwin-window.hidden {
  animation: popOut 0.3s ease forwards;
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}


@keyframes gwin-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.gwin-fade-out {
  animation: gwin-fade-out 0.3s ease forwards;
}


@keyframes gwin-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gwin-fade-in {
  animation: gwin-fade-in 0.3s ease forwards;
}
