
body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#top {
  flex: 0 0 auto;
}

#mid {
  flex: 1 1 auto;
  overflow: auto;
}

#main {
  max-width: 600px;
  margin: 0 auto;
  padding: var(--font-lg);
}

#bottom {
  flex: 0 0 auto;
}
